:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-page-color: #FFFFFF;
}

body {
    color: var(--primary-text-color);
    background: var(--primary-page-color);
    font-family: Roboto, Raleway, sans-serif;
}

/* header */

.logo {
    text-decoration: none;
}

.logo-web, .logo-studio {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000000;
}

.navigation, .contact {
    list-style: none;
}

.navigation .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation .link:hover, .navigation .link:focus {
    color: var(--accent-color);
}

.navigation .link.current {
    color: var(--accent-color);
}

.contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact .link:hover, .contact .link:focus {
    color: var(--accent-color);
}

/* main Студія */

.hero {
    background-color: #2F303A;
    width: 100%;
    height: 200px;
}

.hero .title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    color: #FFFFFF;
    background: #2196F3;
    
    /* перевірити макет */
    border-color: #2196F3;
    width: 216px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

    /* перевірити макет */
.hero-btn:hover, .hero-btn:focus {
    border-color: #FFFFFF;
}


.residence {
    font-style: normal;
}

.residence .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.residence .link:hover, .residence .link:focus {
    color: var(--accent-color);
}

