:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-page-color: #FFFFFF;
}

body {
    color: var(--primary-text-color);
    background: var(--primary-page-color);
    font-family: Roboto, Raleway, sans-serif;
}

/* header */

.logo {
    text-decoration: none;
}

.logo-web, .logo-studio {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000000;
}

.navigation, .contact {
    list-style: none;
}

.navigation .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation .link:hover, .navigation .link:focus {
    color: var(--accent-color);
}

.navigation .link.current {
    color: var(--accent-color);
}

.contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact .link:hover, .contact .link:focus {
    color: var(--accent-color);
}
